%h3
  %div{style: 'text-decoration: underline'} Editing Notification: #{ @notification.created_at.to_formatted_s(:short) }
= render 'form', map_modal: {src: edit_geo_path(@notification.geo, iframe: true), link_text: 'Edit Map'}
