/*= require_self */

/* color scheme */
$govd-red: #c13828;
$govd-grey: #b5bbbd;

/* imports */
@import "foundation_overrides";
@import "foundation";
@import "global_nav";
@import "navigation";
@import "footer";

main.row {
  padding: 30px;
}
