/*= require_self */

/* color scheme */
$govd-red: #c13828;
$govd-grey: #b5bbbd;

/* imports */
@import "foundation_overrides";
@import "foundation";
@import "global_nav";
@import "navigation";
@import "footer";
@import "leaflet-custom";

main.row {
  padding: 30px;
}
#map { height: '256px' }
.ens-map-editor  {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.ens-map-editor iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
