- if current_user
  %dl.sub-nav
    -# whitespace
    %dt
    %dd
    %dd
    -# whitespace
    %dd= link_to "Create Notification", new_notification_path
    %dd= link_to "Reports", notifications_path
    %dd= link_to "e911", e911s_path

  %hr
